##### Set Plotly Credentials

In [1]:
import plotly

In [3]:
plotly.tools.set_credentials_file(username='jamesdoone', api_key='zwZ2xOcldcyr8HNCOxmI')

##### won't push your work to the cloud

In [1]:
import plotly.offline as pyo

##### Allows us to create the Data and Figure Objects

In [2]:
from plotly.graph_objs import *

##### Pushes your charts to the cloud

In [3]:
import plotly.plotly as py

##### Richard's website

In [5]:
import pandas as pd

In [6]:
pd.read_csv("http://richard-muir.com/data/public/csv/BoEBaseRate.csv")

       VALUE        DATE
0      11.50  02/01/1975
1      11.50  03/01/1975
2      11.50  06/01/1975
3      11.50  07/01/1975
4      11.50  08/01/1975
5      11.50  09/01/1975
6      11.50  10/01/1975
7      11.50  13/01/1975
8      11.50  14/01/1975
9      11.50  15/01/1975
10     11.50  16/01/1975
11     11.50  17/01/1975
12     11.25  20/01/1975
13     11.25  21/01/1975
14     11.25  22/01/1975
15     11.25  23/01/1975
16     11.25  24/01/1975
17     11.00  27/01/1975
18     11.00  28/01/1975
19     11.00  29/01/1975
20     11.00  30/01/1975
21     11.00  31/01/1975
22     11.00  03/02/1975
23     11.00  04/02/1975
24     11.00  05/02/1975
25     11.00  06/02/1975
26     11.00  07/02/1975
27     10.75  10/02/1975
28     10.75  11/02/1975
29     10.75  12/02/1975
...      ...         ...
10456   0.50  12/05/2016
10457   0.50  13/05/2016
10458   0.50  16/05/2016
10459   0.50  17/05/2016
10460   0.50  18/05/2016
10461   0.50  19/05/2016
10462   0.50  20/05/2016
10463   0.50  23/05/2016
10464   0.50  24/05/2016
10465   0.50  25/05/2016
10466   0.50  26/05/2016
10467   0.50  27/05/2016
10468   0.50  31/05/2016
10469   0.50  01/06/2016
10470   0.50  02/06/2016
10471   0.50  03/06/2016
10472   0.50  06/06/2016
10473   0.50  07/06/2016
10474   0.50  08/06/2016
10475   0.50  09/06/2016
10476   0.50  10/06/2016
10477   0.50  13/06/2016
10478   0.50  14/06/2016
10479   0.50  15/06/2016
10480   0.50  16/06/2016
10481   0.50  17/06/2016
10482   0.50  20/06/2016
10483   0.50  21/06/2016
10484   0.50  22/06/2016
10485   0.50  23/06/2016

[10486 rows x 2 columns]

##### Matplotlib upload

In [ ]:
import plotly.plotly as py
py.sign_in('jamesdoone', 'zwZ2xOcldcyr8HNCOxmI')


fig = plt.gcf()

plot_url = py.plot_mpl(fig)